<!DOCTYPE html>
<html class="uk-height-1-1 uk-notouch">
    <head>
        <title>The Diogenes Project</title>
        <link rel="stylesheet" href="/static/css/uikit.min.css" />
        <link rel="stylesheet" href="/static/css/eywa.css" />
        <link rel="stylesheet" href="/static/js/codemirror/lib/codemirror.css">
        <link rel="stylesheet" href="/static/css/components/htmleditor.css">
        <script data-main="/static/blackbeard.js" src="/static/require.js"></script>
        <!-- <script src="/static/js/jquery-1.11.3.min.js"></script>
        <script src="/static/js/uikit.min.js"></script>
        <script src="/static/js/components/notify.min.js"></script>
        <script src="/static/js/components/upload.min.js"></script>
        <script src="/static/js/typehead/typeahead.bundle.min.js"></script>
        <script src="/static/js/typehead/typeahead.jquery.min.js"></script>
        <script src="/static/js/typehead/bloodhound.min.js"></script>
        <script src="/static/js/codemirror/lib/codemirror.js"></script>
        <script src="/static/js/codemirror/mode/markdown/markdown.js"></script>
        <script src="/static/js/codemirror/addon/mode/overlay.js"></script>
        <script src="/static/js/codemirror/mode/xml/xml.js"></script>
        <script src="/static/js/codemirror/mode/gfm/gfm.js"></script>
        <script src="/static/js/marked.min.js"></script>

        <script src="/static/js/components/htmleditor.js"></script> -->
    </head>
    <body class="uk-height-1-1">
    	{%block content%}
    	{%endblock%}
    </body>
</html>