{% extends "nucleus/base.html" %}
{%block content%}
	<nav class="uk-navbar">
		<a class="uk-navbar-brand" href="/dashboard/"><i class="uk-icon-circle-o-notch"></i> Diogenes</a>
		
		<div class="uk-navbar-content uk-navbar-flip  uk-hidden-small">
			<strong>{{user.username}}</strong>
			<a href="/logout/" class="uk-button uk-button-small uk-button-danger"><i class="uk-icon-sign-out"></i> Logout</a>
			
		</div>
	</nav>
	<div class="uk-container uk-margin-top uk-container-center uk-height-1-1">
		{% if messages %}
			{% for message in messages %}
				{% if message.tags == 'success' %}
					<div class="uk-alert uk-alert-success">
						<a href="" class="uk-alert-close uk-close"></a>
						{{ message }}
					</div>
				{% elif message.tags == 'warning' %}
					<div class="uk-alert uk-alert-warning">
						<a href="" class="uk-alert-close uk-close"></a>
						{{ message }}
					</div>
				{% elif message.tags == 'error' %}
					<div class="uk-alert uk-alert-danger">
						<a href="" class="uk-alert-close uk-close"></a>
						{{ message }}
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
		{% block dashcontent %}
		<div class="uk-grid uk-height-1-1">
		<div class="uk-width-3-4 uk-overflow-container uk-container-center">
			<div id="bloodhound">
  				<input class="typeahead" type="text" placeholder="Search...">
			</div>
			<ul class="uk-subnav uk-subnav-pill uk-margin" data-uk-switcher="{connect:'#menu', animation: 'fade'}">
				<li><a href="#">Unqueued (0)</a></li>
    			<li><a href="#">Queued (0)</a></li>
    			<li><a href="#">Unrefined(0)</a></li>
    			<li><a href="#">Refined(0)</a></li>
			</ul>
			<ul id="menu" class="uk-switcher">
				<div id="unqueued" class="uk-overflow-container">
    				<h1>Unqueued</h1>
    			</div>
    			<div id="queued" class="uk-overflow-container">
    				<h1>Queued</h1>
    			</div>
				<div id="unrefined" class="uk-overflow-container">
    				<h1>Unrefined</h1>
    			</div>
    			<div id="refined" class="uk-overflow-container">
    				<h1>Refined</h1>
    			</div>
			</ul>
		</div>
	</div>
	{% endblock %}
	</div>
	<script src="/static/js/blackbeard.js"></script>
{%endblock%}